<p>{{ section.settings.hero_description }}</p>
{% schema %}
  {
    "name": "Hero text",
    "settings": [
          {
            "type": "textarea",
            "id": "hero_description",
            "label": "Hero description"
          }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
