	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">

				<div class="desktop-view">
					<div class="ingradients_wrap_inner">
						<div class="ingradient_wrap ingradient_wrap1">
							<div class="ingradient_title">Milk Thistle</div>
							<div class="ingradient_des">Milk thistle supports overall liver health and supports the body in processing toxins. It also helps relieve occasional indigestion. Natural Source: Plant native to Europe and Asia</div>
						</div>
						<div class="ingradient_wrap ingradient_wrap2">
							<div class="ingradient_title">Electrolytes</div>
							<div class="ingradient_des">Potassium is an electrolyte that helps balance the amount of water in your body. It also helps support proper nerve and muscle function. Natural Source: Bananas</div>
						</div>
						<div class="ingradient_wrap ingradient_wrap3">
							<div class="ingradient_title">B Vitamins</div>
							<div class="ingradient_des">B vitamins help increase energy levels and help restore mental alertness when fatigued. Natural Source: Avocado, okra, and more</div>
						</div>
						<div class="ingradient_wrap ingradient_wrap4">
							<div class="ingradient_title">Aloe Vera</div>
							<div class="ingradient_des">Aloe vera aids digestion and supports the liver in eliminating toxins. Natural Source: Aloe Plant</div>
						</div>
						<div class="ingradient_wrap ingradient_wrap5">
							<div class="ingradient_title">Gotu Kola</div>
							<div class="ingradient_des">Gotu kola helps enhance mental clarity by helping to eliminate mental fog. Natural Source: Plant native to Asia</div>
						</div>
						<div class="ingradient_wrap ingradient_wrap6">
							<div class="ingradient_title">Green Tea Extract</div>
							<div class="ingradient_des">Green tea helps support the liver in neutralizing toxins. It also helps soothe occasional nausea and helps maintain blod and oxygen flow. Natural Source: Plant native to East Asia</div>
						</div>
					</div>
				</div>
				<div class="mobile-ingradients-wrap mobile-view">
					<div class="mobile-ingradients-inner">
						<div class="product-view">
							<img src="https://cdn.shopify.com/s/files/1/0589/3845/files/mobile-ingredientsV2.png?15183172229436095423" />
						</div>
						<!-- Swiper -->
						<div class="swiper-container">
							<div class="swiper-wrapper">

								<div class="swiper-slide">
									<div class="left-sec-slider">
										<img src="https://cdn.shopify.com/s/files/1/0589/3845/files/Milk-Thistle.png?16599945347943919667">
									</div>
									<div class="right-sec-slider">
										<div class="ingradient_title">Milk Thistle</div>
										<div class="ingradient_des">Milk thistle supports overall liver health and supports the body in processing toxins. It also helps relieve occasional indigestion. Natural Source: Plant native to Europe and Asia.</div>
									</div>
								</div>

								<div class="swiper-slide">
									<div class="left-sec-slider">
										<img src="https://cdn.shopify.com/s/files/1/0589/3845/files/bananas.png?16599945347943919667">
									</div>
									<div class="right-sec-slider">
										<div class="ingradient_title">Electrolytes</div>
										<div class="ingradient_des">Potassium is an electrolyte that helps balance the amount of water in your body. It also helps support proper nerve and muscle function. Natural Source: Bananas</div>
									</div>
								</div>

								<div class="swiper-slide">
									<div class="left-sec-slider">
										<img src="https://cdn.shopify.com/s/files/1/0589/3845/files/b-vitamins.png?16599945347943919667">
									</div>
									<div class="right-sec-slider">
										<div class="ingradient_title">B Vitamins</div>
										<div class="ingradient_des">B vitamins help increase energy levels and help restore mental alertness when fatigued. Natural Source: Avocado, okra, and more</div>
									</div>
								</div>

								<div class="swiper-slide">
									<div class="left-sec-slider">
										<img src="https://cdn.shopify.com/s/files/1/0589/3845/files/alovera.png?16599945347943919667">
									</div>
									<div class="right-sec-slider">
										<div class="ingradient_title">Aloe vera</div>
										<div class="ingradient_des">Aloe vera aids digestion and supports the liver in eliminating toxins. Natural Source: Aloe Plant</div>
									</div>
								</div>

								<div class="swiper-slide">
									<div class="left-sec-slider">
										<img src="https://cdn.shopify.com/s/files/1/0589/3845/files/gotu-cola.png?16599945347943919667">
									</div>
									<div class="right-sec-slider">
										<div class="ingradient_title">Gotu kola</div>
										<div class="ingradient_des">Gotu kola helps enhance mental clarity by helping to eliminate mental fog. Natural Source: Plant native to Asia</div>
									</div>
								</div>

								<div class="swiper-slide">
									<div class="left-sec-slider">
										<img src="https://cdn.shopify.com/s/files/1/0589/3845/files/green-tea.png?16599945347943919667">
									</div>
									<div class="right-sec-slider">
										<div class="ingradient_title">Green Tea Extract</div>
										<div class="ingradient_des">Green tea helps support the liver in neutralizing toxins. It also helps soothe occasional nausea and helps maintain blod and oxygen flow. Natural Source: Plant native to East Asia</div>
									</div>
								</div>

							</div>

							<!-- Add Arrows -->
							<div class="swiper-button-next"></div>
							<div class="swiper-button-prev"></div>
						</div>
					</div>
				</div>



	<!-- Swiper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
	<!-- Initialize Swiper -->
	<script>
		var swiper = new Swiper('.swiper-container', {
			spaceBetween: 30,
			centeredSlides: true,
          	infinite: true,
            speed: 800,
			autoplay: {
				delay: 7500,
				disableOnInteraction: false,
			},
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
		});
	</script>

{% schema %}
  {
    "name": "What's Inside Image",
    "settings": [
      {
      "id": "whats_inside_desktop",
      "type": "image_picker",
      "label": "Desktop Image"
      },
      {
      "id": "whats_inside_mobile",
      "type": "image_picker",
      "label": "Mobile Image"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
