<a href="{{ section.settings.try_button_url }}">{{ section.settings.try_button_text }}</a>
{% schema %}
  {
    "name": "Try button",
    "settings": [
      {
      "id": "try_button_text",
      "type": "text",
      "label": "Button text"
      },
      {
      "id": "try_button_url",
      "type": "url",
      "label": "Button URL"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
