<div class="container center instructions pb20">
  <div class="yotpo yotpo-reviews-carousel"
   data-background-color="transparent"
   data-mode="most_recent"
   data-type="both"
   data-count="20"
   data-show-bottomline="1"
   data-autoplay-enabled="1"
   data-autoplay-speed="4000"
   data-show-navigation="1"
   data-testimonials-page-enabled="1"
   data-testimonials-page-text="See All Reviews"
   data-testimonials-page-link="https://drinkade.com/pages/reviews">&nbsp;</div>
</div>

{% schema %}
  {
    "name": "Yotpo Reviews",
    "class": "headline-section featured-content-section",
    "presets": [
      {
        "name": "Yotpo Reviews",
        "category": "Text"
      }
    ]
  }
{% endschema %}
