/* Utility classes */
.justify-content-center {
  justify-content: center;
}

/* Background Utilities */
.bg-cover {
  background-size: cover;
}

.img-fluid {
  max-width: 100% !important;
  height: auto;
}

.bg-center {
  background-position: center;
}

/* Flex Display */
.d-flex {
  display: flex;
}

/* Flex Direction */
.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

/* Align Items */
.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

/* Justify Content */
.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

/* Text Alignment */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.p-0 {
  padding: 0 !important;
}

.gap-0 {
  gap: 0px;
}

.gap-1 {
  gap: 5px;
}

.gap-2 {
  gap: 10px;
}

.gap-3 {
  gap: 15px;
}

.gap-4 {
  gap: 20px;
}

.gap-5 {
  gap: 25px;
}

.gap-6 {
  gap: 30px;
}

.gap-7 {
  gap: 35px;
}

.gap-8 {
  gap: 40px;
}

.gap-9 {
  gap: 50px;
}

.gap-85 {
  gap: 85px;
}

.d-flex {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

/* Margin - Horizontal (mx) */
.m-0 {
  margin: 0 !important;
}

.mt-26 {
  margin-top: 26px !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-1 {
  margin-left: 2.5px !important;
  margin-right: 2.5px !important;
}

.mx-2 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.mx-3 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.mx-4 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mx-5 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Margin - Vertical (my) */
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 2.5px !important;
  margin-bottom: 2.5px !important;
}

.my-2 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.my-3 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.my-4 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.my-5 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

/* Padding - Horizontal (px) */
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-1 {
  padding-left: 2.5px !important;
  padding-right: 2.5px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.px-2 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.px-3 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.px-4 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.px-5 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.px-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}

/* Padding - Vertical (py) */
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 2.5px !important;
  padding-bottom: 2.5px !important;
}

.py-2 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.py-3 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.py-4 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.py-5 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.py-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}

.text-left,
.left {
  text-align: left !important;
}

.text-center,
.center {
  text-align: center !important;
}

.text-right,
.right {
  text-align: right !important;
}

.mb-60 {
  margin-bottom: 60px;
}

body,
.bg-default,
.hero {
  background: #fafbfd;
}

.float-none {
  float: none;
}

.page-width {
  max-width: 1512px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Futura, sans-serif;
  font-style: normal;
  font-weight: 700;
}

h1,
.h1 {
  font-size: 72px;
  line-height: 72.894px;
  letter-spacing: -2.885px;
}

@media (max-width: 749px) {
  .h1 {
    font-size: 45px;
    line-height: 45.894px;
  }
}

h2,
.h2 {
  font-size: 60px;
  line-height: 50.531px;
  letter-spacing: 0.79px;
}

h3,
.h3 {
  font-size: 50px;
  line-height: 50.531px;
  letter-spacing: -2px;
}

.fs-1 {
  font-size: 1px !important;
}

.fs-2 {
  font-size: 2px !important;
}

.fs-3 {
  font-size: 3px !important;
}

.fs-4 {
  font-size: 4px !important;
}

.fs-5 {
  font-size: 5px !important;
}

.fs-6 {
  font-size: 6px !important;
}

.fs-7 {
  font-size: 7px !important;
}

.fs-8 {
  font-size: 8px !important;
}

.fs-9 {
  font-size: 9px !important;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-11 {
  font-size: 11px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-17 {
  font-size: 17px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-19 {
  font-size: 19px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-21 {
  font-size: 21px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-23 {
  font-size: 23px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-25 {
  font-size: 25px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-27 {
  font-size: 27px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-29 {
  font-size: 29px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.fs-31 {
  font-size: 31px !important;
}

.fs-32 {
  font-size: 32px !important;
}

.fs-33 {
  font-size: 33px !important;
}

.fs-34 {
  font-size: 34px !important;
}

.fs-35 {
  font-size: 35px !important;
}

.fs-36 {
  font-size: 36px !important;
}

.fs-37 {
  font-size: 37px !important;
}

.fs-38 {
  font-size: 38px !important;
}

.fs-39 {
  font-size: 39px !important;
}

.fs-40 {
  font-size: 40px !important;
}

.fs-41 {
  font-size: 41px !important;
}

.fs-42 {
  font-size: 42px !important;
}

.fs-43 {
  font-size: 43px !important;
}

.fs-44 {
  font-size: 44px !important;
}

.fs-45 {
  font-size: 45px !important;
}

.fs-46 {
  font-size: 46px !important;
}

.fs-47 {
  font-size: 47px !important;
}

.fs-48 {
  font-size: 48px !important;
}

.fs-49 {
  font-size: 49px !important;
}

.fs-50 {
  font-size: 50px !important;
}

.fs-51 {
  font-size: 51px !important;
}

.fs-52 {
  font-size: 52px !important;
}

.fs-53 {
  font-size: 53px !important;
}

.fs-54 {
  font-size: 54px !important;
}

.fs-55 {
  font-size: 55px !important;
}

.fs-56 {
  font-size: 56px !important;
}

.fs-57 {
  font-size: 57px !important;
}

.fs-58 {
  font-size: 58px !important;
}

.fs-59 {
  font-size: 59px !important;
}

.fs-60 {
  font-size: 60px !important;
}

.fs-61 {
  font-size: 61px !important;
}

.fs-62 {
  font-size: 62px !important;
}

.fs-63 {
  font-size: 63px !important;
}

.fs-64 {
  font-size: 64px !important;
}

.fs-65 {
  font-size: 65px !important;
}

.fs-66 {
  font-size: 66px !important;
}

.fs-67 {
  font-size: 67px !important;
}

.fs-68 {
  font-size: 68px !important;
}

.fs-69 {
  font-size: 69px !important;
}

.fs-70 {
  font-size: 70px !important;
}

.fs-71 {
  font-size: 71px !important;
}

.fs-72 {
  font-size: 72px !important;
}

.fs-73 {
  font-size: 73px !important;
}

.fs-74 {
  font-size: 74px !important;
}

.fs-75 {
  font-size: 75px !important;
}

.fs-76 {
  font-size: 76px !important;
}

.fs-77 {
  font-size: 77px !important;
}

.fs-78 {
  font-size: 78px !important;
}

.fs-79 {
  font-size: 79px !important;
}

.fs-80 {
  font-size: 80px !important;
}

.fs-81 {
  font-size: 81px !important;
}

.fs-82 {
  font-size: 82px !important;
}

.fs-83 {
  font-size: 83px !important;
}

.fs-84 {
  font-size: 84px !important;
}

.fs-85 {
  font-size: 85px !important;
}

.fs-86 {
  font-size: 86px !important;
}

.fs-87 {
  font-size: 87px !important;
}

.fs-88 {
  font-size: 88px !important;
}

.fs-89 {
  font-size: 89px !important;
}

.fs-90 {
  font-size: 90px !important;
}

.fs-91 {
  font-size: 91px !important;
}

.fs-92 {
  font-size: 92px !important;
}

.fs-93 {
  font-size: 93px !important;
}

.fs-94 {
  font-size: 94px !important;
}

.fs-95 {
  font-size: 95px !important;
}

.fs-96 {
  font-size: 96px !important;
}

.fs-97 {
  font-size: 97px !important;
}

.fs-98 {
  font-size: 98px !important;
}

.fs-99 {
  font-size: 99px !important;
}

.fs-100 {
  font-size: 100px !important;
}

.fw-normal {
  font-weight: normal !important;
}

.title-color {
  color: #33515e !important;
}

.font-bigger {
  font-size: 200px !important;
  line-height: 200px;
}
@media (max-width: 1370px) {
  .font-bigger {
    font-size: 100px !important;
    line-height: 100px;
  }
}

.hero__paragraph {
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
  line-height: 32px;
  max-width: 650px;
  margin: -32px auto auto;
}
.hero__paragraph strong {
  font-size: 110%;
  font-weight: bold;
}
@media (max-width: 1370px) {
  .hero__paragraph {
    font-size: 20px;
    line-height: 20px;
    margin: 0 auto auto;
  }
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.absolute-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.z-1 {
  z-index: 1 !important;
}

.z-5 {
  z-index: 5 !important;
}

.w-100 {
  width: 100% !important;
  max-width: 100% !important;
}

.mx-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.hero__small-text small {
  font-size: 6px !important;
}

@media (max-width: 749px) {
  .hero__image-wrapper {
    width: 100% !important;
    max-width: 400px !important;
    margin: auto;
  }
}

@media (max-width: 749px) {
  .hero__text-wrap {
    max-width: 300px !important;
  }
}
@media (max-width: 749px) {
  .hero__text-wrap .align-items-center {
    align-items: flex-start !important;
    height: 100% !important;
  }
}

.hero__image-wrapper:before,
.hero__media:before {
  display: none !important;
}

.btn {
  display: inline-flex;
  min-width: 250px;
  height: 54px;
  padding: 20.769px;
  justify-content: center;
  align-items: center;
  gap: 20.769px;
  flex-shrink: 0;
  border-radius: 103.846px;
  background: #90151c;
  color: #fff;
  text-align: center;
  font-family: Futura, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 151.395px;
  letter-spacing: -1.272px;
}

.btn-light {
  background: #fff !important;
  color: #000 !important;
}

.base-color {
  color: #90151c;
}

.border-0 {
  border: 0 !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}
@media (max-width: 749px) {
  .mb-32 {
    margin-bottom: 6px;
  }
}

.opacity-018 {
  opacity: 0.18 !important;
}

.yotpo {
  margin-top: 10px !important;
}

.collection_cart a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20.769px;
  width: 282px;
  height: 54px;
  padding: 20.769px;
  background: #091278 !important;
  color: #fff;
  text-align: center;
  text-transform: capitalize !important;
  border-radius: 103.846px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -1.272px;
  margin-top: 20px;
}
@media (max-width: 1370px) {
  .collection_cart a {
    min-width: 220px;
  }
}

.newsletter-newsletter,
.site-footer {
  background: #8a2a2b !important;
}

.py-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.drinkade-slideshow h1,
.drinkade-slideshow h2,
.drinkade-slideshow h3,
.drinkade-slideshow h4,
.drinkade-slideshow h5,
.drinkade-slideshow h6,
.drinkade-slideshow .h1,
.drinkade-slideshow .h2,
.drinkade-slideshow .h3,
.drinkade-slideshow .h4,
.drinkade-slideshow .h5,
.drinkade-slideshow .h6 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -1px;
}
.drinkade-slideshow .btn {
  min-width: 282px;
}
@media (max-width: 1370px) {
  .drinkade-slideshow .btn {
    min-width: 220px;
  }
}

.collection_cart a {
  margin: 0 !important;
}

.fading-images-overlay__title {
  font-weight: bold;
}

.newsletter-section .h3 {
  font-weight: normal;
}

.logo-bar__item {
  background-color: #fafbfd;
}
.logo-bar__item img {
  mix-blend-mode: multiply;
  opacity: 1;
}

#shopify-section-1543867991728 .section-header__title {
  font-size: 25.945px;
  font-style: normal;
  font-weight: 500;
  line-height: 32.4px;
  letter-spacing: 0.675px;
}

@media (max-width: 750px) {
  .slideshow__slide {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
/*# sourceMappingURL=custom-drinkade.css.map */