<div class="page-width page-content">

  {% include 'breadcrumbs' %}

	<div class="grid">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

      <header class="section-header">
        <h1 class="section-header__title ">THANKS FOR YOUR INTEREST - THIS PROMOTION HAS ENDED</h1>
      </header>

      <div class="rte rte--nomargin">

        <div class="grid">
          <div class="grid__item medium-up--one-whole text-center">
            <p>Interested in receiving special offers, promotions and contest emails from DrinkAde? Sign up below.</strong></p>
          </div>
          <div class="grid__item medium-up--two-thirds">
            <p class="text-center"><img src="{{ 'DA_JT_Concert.jpg' | file_url }}" alt="Justin Timberlake The Man of the Woods Concert" /></p>
          </div>
          <div class="grid__item medium-up--one-third">
            <div class="klaviyo-form-HEw9zh"></div>
          </div>
          <div class="grid__item medium-up--one-whole text-center">
            <p>&nbsp;</p>
            <p class="center small"><small><em>NO PURCHASE NECESSARY. Open to legal residents of the 50 United States and D.C., age 21 or older. Void where prohibited. Odds of winning depend on number of entries received. Sweepstakes ends at 11:59 p.m. PT on February 28, 2019. <a href="https://drinkade.com/pages/justin-timberlake-contest-rules" style="text-decoration: underline;">Click here for official rules</a></em></small></p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<style>
  .klaviyo-form-HEw9zh p {
    color: #000 !important;
  }
</style>
