<div class="page-content banner-info how_hero">
	<div class="grid">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">
      <header class="section-header">
        <h1 class="section-header__title">{{ page.title }}</h1>
        <p>{% section 'how-intro' %}</p>
      </header>
    </div>
  </div>
</div>
<div class="how_3_col">
	{% section 'text-columns' %}
    {% section 'try-button' %}
</div>
<div class="ingradients_wrap">
	<div class="ingradients_wrap_inner">
      	<h2>WHAT'S INSIDE DRINKADE</h2>
      	{% section 'ingredients-image' %}
	</div>
</div>

<div class="logo_list">
	{% section 'logo-list' %} 
</div>



<div class="how_to_use">
	{% section 'how-to-use' %}
</div>

<div class="how_testimonials">
  <div class="how_testimonials_inner">
    <h2>CUSTOMERS LOVE DRINKADE!</h2>
	{% section 'yotpo-carousel' %}
  </div>
</div>

<div class="how_video">
	{% section 'featured-video' %}
  	{% section 'try-button' %}
</div>



